.container{
    width:1060px;
}
.login{
    width:400px;
    margin: 100px auto;
    background-color:#cecece;
    padding: 15px;
}
.input[type='email'],input[type='password']{
    margin: 5px 0 5px 0;
    
}
.header{
    background-image: url("../../images/cover.png");
    margin: 0;
    width:100%;
    height: auto;
}